// 修改主题滚动视图bug
.main-content {
    overflow: visible;
}
// 文本显示两行省略
.text-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
// 用户头像xxs
.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
}
.autocomplete-input {
    position: relative;
    background-color: white;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 48px;
    box-sizing: border-box;
    font-size: 0.9rem;
    line-height: 1;
    flex: 1;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 12px;
}

[data-position=below] .autocomplete-input[aria-expanded=true] {
    border-bottom-color: transparent;
    border-radius: 15px 15px 0 0;
}
.autocomplete-input:focus, .autocomplete-input[aria-expanded=true] {
    border-color: #eee;
    outline: none; /* 去掉默认input焦点边框 */
}

[data-position=below] .autocomplete-result-list {
    margin-top: -1px;
    border-top-color: transparent;
    border-radius: 0 0 15px 15px;
    // padding-bottom: 8px;
}

.autocomplete-result-list {
    // position: absolute;
    // z-index: 1;
    // width: 100%;
    // visibility: visible;
    // pointer-events: auto;
    // top: 100%;
    margin: 0;
    border: 1px solid rgba(0,0,0,.12);
    padding: 0;
    box-sizing: border-box;
    max-height: 296px;
    overflow-y: auto;
    background: #fff;
    list-style: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 5%);
}

// .autocomplete-result {
//   cursor: default;
//   padding: 12px 12px 12px 48px;
//   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+);
//   background-repeat: no-repeat;
//   background-position: 12px;
// }

.autocomplete[data-loading=true]:after{
    content:"";
    border:3px solid rgba(0,0,0,.12);
    border-right-color:rgba(0,0,0,.48);
    border-radius:100%;
    width:20px;
    height:20px;
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);
    animation:rotate 1s linear infinite;
}
// 搜索结果样式
.search-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.search-proj-name {
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 8px;
}
// .multiselect__select:before {
//     color: $red;
// }
// .multiselect__tags__err {
//     border: $red 1px solid!important;
// }
// 调整列表/表格布局按钮的i标签位置显示
.nav-i-mt {
    margin-top: 0.6rem;
}
// 选择本地/远程按钮label底部为0
#location-radios label{
    margin-bottom: 0!important;
}

.multiselect__option--highlight:after {
    background: transparent!important;
}

.host-select {
    width: 38%!important;
    min-height: 0!important;
}
.host-select .multiselect__tags {
    min-height: 0!important;
    padding: 0.25rem 0.5rem!important;
    border-radius: 0.2rem!important;
    font-size: 0.75rem!important;
}
.host-select .multiselect__select {
    height: 30px;
}
.host-select .multiselect__placeholder {
    font-size: 0.75rem;
}
@keyframes rotate{
    0%{
        transform:translateY(-50%) rotate(0deg)
    }
    to{
        transform:translateY(-50%) rotate(359deg)
    }
}

