//
// psi-general.scss
//
.time-text {
  color: #5d9048;
}
// 鼠标显示手指样式
.pointer {
  cursor: pointer;
}
// 文本超出一行省略
.overflow-1-text {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
// 文本超两行省略
.overflow-2-text {
  overflow:hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
// 失效图层蒙版
// 前提父组件 position:relative
.invalid-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 2;
  border-radius: 0.3rem;
}