.grid-item-con {
    background-color: #fff;
    border: 0 solid #f6f6f6;
    border-radius: 0.25rem;
    /* min-width: 200px; */
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    /* height: 320px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}
.grid-item-con:hover {
    box-shadow: 0 2px 2px rgb(0 0 0 / 5%);
}
.grid-img {
    width: 100%;
    height: 108px;
    object-fit: cover;
}
.grid-body {
    padding: 16px;
}
.grid-item-name {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;
}
.grid-footer {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    min-height: 3.3rem;
    border-top: 1px solid rgb(218, 220, 224);
    padding: 0.8rem;
}
.grid-avatar {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}
.grid-time {
    font-size: 0.6rem;
    line-height: 1.7rem;
}
.grid-username {
    font-size: 0.6rem;
    color: #3c4043;
}
.grid-username:hover {
    color: #3c4043;
}