// .proj-name {
//     font-size: 0.9rem;
//     text-decoration: none;
//     position: relative;
// }
// .proj-name:hover:after  {
//     content: "";
//     border-bottom: 2px solid $dark;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 1px;
// }
.list-item-con {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-top: 0.75rem;
}

.list-item-con:last-child {
    margin-bottom: 0.75rem;
}

.list-head-text {
    font-weight: 600;
    padding: 0.75rem;
}
// 列表项的名称样式
.list-item-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    max-width: 100%;
    margin-bottom: 0.25rem;
}
.list-item-name a:hover:after  {
    content: "";
    border-bottom: 2px solid $dark;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
}
.list-item-desc {
    font-size: 0.7rem;
}