.md-style h1 {
  font-size: 1.15rem!important;
}

.md-style h1,
.md-style h2 {
  font-weight: 600;
}

.md-style h2 {
  font-size: 1rem;
}

.md-style h3 {
  font-size: 0.8rem;
}

.md-style h3,
.md-style h4 {
  font-weight: 600;
}

.md-style h4 {
  font-size: 0.8rem;
}

.md-style h5 {
  font-size: 0.8rem;
}

.md-style h5,
.md-style h6 {
  font-weight: 600;
}

.md-style h6 {
  font-size: 0.8rem;
}
